@model Proyecto.Abstracciones.ModelosParaUI.ArchivoAnalisisDTO

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del Archivo</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td>@Model.IdArchivoAnalisis</td>
    </tr>
    <tr>
        <th>Persona</th>
        <td>@Model.IdPersona</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.NombreArchivo</td>
    </tr>
    <tr>
        <th>Tipo</th>
        <td>@Model.TipoArchivo</td>
    </tr>
    <tr>
        <th>Ruta</th>
        <td>@Model.Ruta</td>
    </tr>
</table>

<p>
    <a href="@Url.Action("Index", "ArchivosAnalisis")" class="btn btn-secondary">Volver</a>
</p>
